html,
body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background: black;
    display: flex;
    justify-content: center;
}

#game {
    border: 3px solid white;
    height: 512px;
    width: 512px;
}